#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // --------------------------------------------------------------------------------
            // |  Q  |  W  |  F  |  P  |  B  |                  |  J  |  L  |  U  |  Y  |  ;  |
            // |  A  |  R  |  S  |  T  |  G  |                  |  M  |  N  |  E  |  I  |  O  |
            // |  Z  |  X  |  C  |  D  |  V  |                  |  K  |  H  |  ,  |  .  |  /  |
            //             | CMD | ESC | BSPC| DEL |     | TAB  | SPC | RET |SHIFT|

            bindings = <
&kp Q        &kp W       &kp E             &kp R      &kp T                     &kp Y         &kp U      &kp I      &kp O          &kp P
&kp A        &kp S       &kp D             &kp F      &kp G                     &kp H         &kp J      &kp K      &kp L          &kp SEMI
&mt LCTRL Z  &kp X       &kp C             &kp V      &kp B                     &kp N         &kp M      &kp COMMA  &kp DOT        &kp FSLH
             &kp DELETE  &kp LEFT_COMMAND  &kp SPACE  &mt LSHIFT BACKSPACE      &lt 1 ESCAPE  &kp ENTER  &kp TAB    &kp RIGHT_ALT
            >;
        };

        Symbols {
            bindings = <
&kp LS(EXCL)   &kp LS(AT)     &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(PIPE)       &kp UP_ARROW  &kp N7      &kp N8           &kp N9     &kp MINUS
&kp LS(POUND)  &kp LS(DLLR)   &kp LS(LPAR)  &kp LS(RPAR)  &kp GRAVE          &kp DOWN      &kp N4      &kp N5           &kp N6     &kp PLUS
&kp LS(PRCNT)  &kp LS(CARET)  &kp LBKT      &kp RBKT      &kp LS(TILDE)      &kp LS(AMPS)  &kp N1      &kp N2           &kp N3     &kp BSLH
               &trans         &to 2         &trans        &trans             &trans        &kp PERIOD  &kp KP_NUMBER_0  &kp EQUAL
            >;
        };

        Functions {
            bindings = <
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5            &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &none   &none   &none   &none   &kp F11
&none         &none         &none         &none         &none             &none   &none   &none   &none   &kp F12
              &trans        &to 3         &trans        &sl 0             &sl 0   &trans  &trans  &trans
            >;
        };

        System {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2       &bt BT_SEL 3    &bt BT_SEL 4      &none        &none  &none  &none  &none
&bt BT_CLR    &out OUT_BLE  &out OUT_USB       &bt BT_CLR_ALL  &bootloader       &bootloader  &none  &none  &none  &none
&sys_reset    &soft_off     &ext_power EP_TOG  &none           &none             &none        &none  &none  &none  &none
              &none         &none              &none           &to 0             &to 0        &none  &none  &none
            >;
        };
    };
};

